nav {
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      text-transform: uppercase;
      margin: 0 10px;
      font-size: var(--base-font-size);

      .nav-link.action {
        border-radius: 20px;
        background-color: var(--base-color);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        color: white;
        padding: 11px 22px;
        text-transform: uppercase;
        line-height: 18px;
      }
    }
  }
}
